{% include "header.html" %}

<!-- Page Header-->
<header
  class="masthead"
  style="background-image: url('../static/assets/img/about-bg.jpg')"
>
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="page-heading">
          <h1>About Me</h1>
          <span class="subheading">This is what I do.</span>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- Main Content-->
<main class="mb-4">
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <p>
          My name is Navinesh Ramesh, and I am 13 years old. Although I am originally from India, I was born and raised in Dubai, which has allowed me to experience a blend of rich cultural influences. Currently, I am in Grade 7, where I actively engage in my academic studies and pursue my interests in various subjects.
        </p>
        <h1>Interests and Hobbies</h1>
        <p>
          I have a strong passion for programming, and I have gained proficiency in languages such as Python, HTML, and CSS. I am particularly interested in expanding my knowledge and skills in the areas of app development and Javascript. Programming provides me with a creative outlet to solve problems and build projects, and I am committed to further developing my expertise in this field.
        </p>
        <p>
        In addition to programming, I have a keen interest in several sports, which I view as both a way to maintain a healthy lifestyle and to enhance my skills in teamwork and strategy. I enjoy playing chess, where I continuously challenge myself to think critically and develop new tactics. I am also passionate about football, cricket, badminton, and table tennis.
        </p>
        <h1>Academic Focus and Goals</h1>
        <p>
          Among the subjects I study, science is my primary interest, followed closely by English and mathematics. I am eager to deepen my understanding of these subjects, particularly in how they connect to my interests in programming and technology.
        </p>
        <p>
          Looking forward, I am excited to further explore app development and aim to enhance my proficiency in Javascript. My goal is to continue learning, developing my skills, and applying my knowledge to real-world challenges.
        </p>
      </div>
    </div>
  </div>
</main>

{% include "footer.html" %}
<!-- Add Transition Script and Style -->
<style>
  /* Add transition to the body for smooth fade-in */
  body {
    opacity: 0;
    transition: opacity 1s ease;
  }

  /* Fade in the content after page load */
  body.loaded {
    opacity: 1;
  }
</style>

<script>
  // Add 'loaded' class to body to trigger fade-in effect
  window.addEventListener('load', function() {
    document.body.classList.add('loaded');
  });
</script>